---
import { cn } from "@/lib/utils";

interface Props {
    className?: string;
}

const { className }: Props = Astro.props;
---

<h2
    class={cn(
        "mb-4 text-4xl tracking-tight font-extrabold text-center",
        className,
    )}
>
    <slot />
</h2>
