---
import { cn } from "@/lib/utils";

type BlockVariant = "default" | "primary" | "alternative";

const variantStyles: Record<BlockVariant, string> = {
    default: "",
    primary: "bg-primary text-primary-foreground",
    alternative: "bg-alternative text-alternative-foreground",
};

interface Props {
    id: string;
    className?: string;
    variant?: BlockVariant;
}

const { id, className, variant = "default" }: Props = Astro.props;

const hasSeperator = Astro.slots.has("seperator");
const hasHeader = Astro.slots.has("header");
const hasSubHeader = Astro.slots.has("subHeader");
const hasAnyHeader = hasHeader || hasSubHeader;
const hasBody = Astro.slots.has("body");
---

<section
    id={id}
    class={cn("px-4 py-8 antialiased", className, variantStyles[variant])}
>
    {hasSeperator && <slot name="seperator" />}

    {
        hasAnyHeader && (
            <div class="max-w-screen-md mx-auto">
                {!!hasHeader && <slot name="header" />}
                {hasSubHeader ? (
                    <slot name="subHeader" />
                ) : (
                    <div class="mb-8 lg:mb-16" />
                )}
            </div>
        )
    }

    {hasBody && <slot name="body" />}
</section>
