@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --transparent: transparent;
        --white: #ffffff;

        --background: #ffffff;
        --foreground: #000000;

        --primary: #7413dc;
        --primary-foreground: #ffffff;

        --alternative: #f9fafb;
        --alternative-foreground: #111827;

        --alternative-dark: #d1d5db;
        --alternative-dark-foreground: #111827;

        --icon-facebook: #39569c;
        --icon-contact: #ea4c89;
        --icon-website: #28b661;
        --icon-map: #d97706;
        --icon-hover: #111827;


        --input: #f9fafb;
        --input-border: #d1d5db;
        --input-foreground: #111827;
    }


    main a {
        @apply underline underline-offset-2 text-primary
    }

    html{
        @apply bg-alternative
    }
    body{
        @apply bg-background 
    }
}