---
import Seperator from "@/components/seperator.astro";
import PageLayout from "@/layouts/page.layout.astro";
import { Block, Button } from "basecamp/components";
import { ArrowLeft } from "lucide-react";
---

<PageLayout
    title="We have your message | Runnymede District Scouts"
    description="Form submit success"
>
    <Block.Wrapper id="success">
        <Block.Seperator slot="seperator">
            <Seperator loading="eager" />
        </Block.Seperator>
        <Block.Header slot="header" className="text-primary">
            We have your message
        </Block.Header>
        <Block.SubHeader slot="subHeader" tag="p">
            Thank you for reaching out, we will get back to you as soon as
            possible
        </Block.SubHeader>
        <Block.Body size="sm" slot="body">
            <a href="/">
                <Button
                    Icon={ArrowLeft}
                    type="button"
                    text="Back to homepage"
                    iconClassName="order-first"
                />
            </a>
        </Block.Body>
    </Block.Wrapper>
</PageLayout>
