---
import DiaryItem from "@/components/diary/diary-item.astro";
import PageLayout from "@/layouts/page.layout.astro";
import { getCollection } from "astro:content";

const currentYear = new Date().getFullYear();

const events = (await getCollection("events"))
	.filter(({ data }) => new Date(data.startDate).getFullYear() == currentYear)
	.sort((a, b) => {
		return (
			new Date(a.data.startDate).getTime() -
			new Date(b.data.startDate).getTime()
		);
	});
---

<PageLayout
	title="Event Diary | Upcoming Activities in Runnymede"
	description="Stay updated with upcoming events and activities in Runnymede by exploring our comprehensive diary. Find details on camps, meetings, workshops, and other exciting scouting events happening near you."
	heading="District Diary"
	subHeading="Find out whats happening in Runnymede"
>
	<div class="flow-root max-w-screen-sm mx-auto mt-8 sm:mt-12 lg:mt-16">
		<div class="-my-4 divide-y divide-alternative-dark">
			{events && events.map((event) => <DiaryItem event={event} />)}
		</div>
	</div>
</PageLayout>
