---
import DiaryItem from "@/components/diary/diary-item.astro";
import PageLayout from "@/layouts/page.layout.astro";
import { getCollection } from "astro:content";

const currentYear = new Date().getFullYear();

const events = (await getCollection("events"))
	.filter(({ data }) => new Date(data.startDate).getFullYear() == currentYear)
	.sort((a, b) => {
		return (
			new Date(b.data.startDate).getTime() -
			new Date(a.data.startDate).getTime()
		);
	});
---

<PageLayout
	title="Event Diary | Upcoming Activities in Runnymede"
	description="Stay updated with upcoming events and activities in Runnymede by exploring our comprehensive diary. Find details on camps, meetings, workshops, and other exciting scouting events happening near you."
>
	<section class="antialiased">
		<div
			class="max-w-screen-md px-4 py-8 mx-auto lg:px-6 sm:py-16 lg:py-24"
		>
			<div class="max-w-3xl mx-auto text-center">
				<h2 class="mb-4 text-4xl tracking-tight font-extrabold">
					District Diary
				</h2>
				<p class="font-light sm:text-xl">
					Find out whats happening in Runnymede
				</p>
			</div>

			<div class="flow-root max-w-3xl mx-auto mt-8 sm:mt-12 lg:mt-16">
				<div class="-my-4 divide-y divide-alternative-dark">
					{
						events &&
							events.map((event) => <DiaryItem event={event} />)
					}
				</div>
			</div>
		</div>
	</section>
</PageLayout>
