---
import DiaryItem from "@/components/diary/diary-item.astro";
import Seperator from "@/components/seperator.astro";
import PageLayout from "@/layouts/page.layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import { Block } from "basecamp/components";

const currentYear = new Date().getFullYear();

const events = (await getCollection("events"))
	.filter(
		(event: CollectionEntry<"events">) =>
			new Date(event.data.startDate).getFullYear() == currentYear,
	)
	.sort((a, b) => {
		return (
			new Date(a.data.startDate).getTime() -
			new Date(b.data.startDate).getTime()
		);
	});
---

<PageLayout
	title="Event Diary | Upcoming Activities in Runnymede"
	description="Stay updated with upcoming events and activities in Runnymede by exploring our comprehensive diary. Find details on camps, meetings, workshops, and other exciting scouting events happening near you."
>
	<Block.Wrapper id="diary">
		<Block.Seperator slot="seperator">
			<Seperator loading="eager" />
		</Block.Seperator>
		<Block.Header slot="header" className="text-primary">
			District Diary
		</Block.Header>
		<Block.SubHeader slot="subHeader"  tag="p">
			Find out whats happening in Runnymede
		</Block.SubHeader>
		<Block.Body size="sm" slot="body">
			<div class="-my-4 divide-y divide-alternative-dark">
				{events && events.map((event) => <DiaryItem event={event} />)}
			</div>
		</Block.Body>
	</Block.Wrapper>
</PageLayout>
