---
import Seperator from "@/components/seperator.astro";
import PageLayout from "@/layouts/page.layout.astro";
import { Block, Button } from "basecamp/components";
import { ArrowLeft } from "lucide-react";
---

<PageLayout
    title="Page not found | Runnymede District Scouts"
    description="Page not found"
>
    <Block.Wrapper id="page-not-found">
        <Block.Seperator slot="seperator">
            <Seperator loading="eager" />
        </Block.Seperator>
        <Block.Header slot="header" className="text-primary">
            404
        </Block.Header>
        <Block.SubHeader slot="subHeader" tag="p">
            Sorry, we can't find that page. You'll find lots to explore on the
            home page.
        </Block.SubHeader>
        <Block.Body size="sm" slot="body">
            <a href="/">
                <Button
                    Icon={ArrowLeft}
                    type="button"
                    text="Back to homepage"
                    iconClassName="order-first"
                />
            </a>
        </Block.Body>
    </Block.Wrapper>
</PageLayout>
