---
import { SITE_TITLE } from "@/lib/consts";
import { Search } from "lucide-react";
import { Block, Button } from "basecamp/components";
---

<Block.Wrapper id="join-us" variant="primary" className="py-8 lg:py-16">
    <Block.Header slot="header">
        Want to get involved with Scouting?
    </Block.Header>
    <Block.SubHeader slot="subHeader" tag="p">
        If you want to get involved with Scouting as volunteer or gain skills
        for life as a Squirrel, Beaver, Cub, Scout or Explorer why not {
            SITE_TITLE
        }.
    </Block.SubHeader>
    <Block.Body size="md" slot="body" className="mb-0 lg:mb-0">
        <a href="/groups-and-units" class="w-full">
            <Button
                Icon={Search}
                type="button"
                text="Find your local group"
                iconClassName="order-first"
            />
        </a>
    </Block.Body>
</Block.Wrapper>
