---
import "@fontsource/nunito-sans";
import "@/styles/globals.css";
import { ViewTransitions } from "astro:transitions";
import {  SITE_TITLE, SITE_URL } from "@/lib/consts";
interface Props {
  title: string;
  description: string;
}
const currentPath = Astro.url.pathname;

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="robots" content="index, follow">
    
    <link rel="canonical" href={SITE_URL + currentPath}>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | {SITE_TITLE}</title>
    <ViewTransitions />
  </head>
  <body>
    <slot />
  </body>
</html>
<link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
