---
import { SITE_TITLE } from "@/lib/consts";
import { Search } from "lucide-react";


---

<section class="bg-primary text-primary-foreground">
    <div class="py-8 px-4 mx-auto max-w-screen-md sm:py-16 lg:px-6">
        <div class="max-w-screen-md">
            <h2
                class="mb-4 text-4xl tracking-tight font-extrabold"
            >
                Want to get involved with Scouting?
            </h2>
            <p
                class="mb-8 font-light sm:text-xl"
            >
                If you want to get involved with Scouting as volunteer or gain skills for life as a Squirrel, Beaver, Cub, Scout or Explorer why not {SITE_TITLE}.
            </p>
            <div
                class="flex flex-col space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4"
            >
                <a
                    href="/groups-and-units"
                    class="inline-flex items-start justify-start px-4 py-2.5 text-base font-medium text-center border border-white rounded-lg focus:ring-4 sm:w-1/2"
                >
                <Search className="mr-2 -ml-1 w-5 h-5" />
                    Find your local group
                </a>
            </div>
        </div>
    </div>
</section>
